/* no need of this file  */
/* delete it */

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}
.details-image{
    flex :2 1 60rem;
}
.details-image img{
    max-width: 60rem;
    widows: 100%;
}
.details-info{
    flex :1 1 30rem;
}
.details-action{
    flex :1 1 30rem;
}
.details-action ul,.details-info ul{
list-style-type: none;
padding: 0;
}
.details-action li,.details-info li{
    margin-bottom: 1rem;
    
}
.details-action{
    border: .1rem solid #808080;
    border-radius: 0.5rem;
    background-color: beige;
    padding: 1rem;
}
.details-action ul li:last-child{
    display: flex;
    flex-direction:column;
}
.button{
    padding: 1rem;
    border: 0.1em solid #808080;
    cursor: pointer;
    border-radius: 0.5rem;
}
.button:hover{
    border: .1rem solid #2c4747;
}
.button.primary{
    background-color: #4b4534;
}